{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Catalog</title>
</head>
<body>
<div class="wrapper">
    <div class="header"><h1>Интернет-магазин одежды</h1></div>
    <div class="body">
        <ul>
            {% for category in categories %}
                <li><a href="/{{ category.alias }}/">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="cart">В корзине товаров на <span class="summa">0</span>
    <br><a class="oformit" href="/order/">Оформить заказ</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'jquery-cookie.js' %}"></script>
<script src="{% static 'script.js' %}"></script>

</body>
</html>